<h2>Please Create a New Project</h2>
<form action="/projects/new" method="post">
  <input type="text" name="name" placeholder="name" value="">
  <input type="submit" name="sumbit" value="Create">
</form>
